# Pandas | Basic of Time Series Manipulation

In this module of Pandas, we can include the date and time for every record and can fetch the records of dataframe. We can find out the data within a certain range of date and time by using pandas module named Time series. Let’s discuss some major objectives to introduce the pandas time series analysis.

Objectives of time series analysis
 
. Create the series of date
. Work with data timestamp
. Convert string data to timestamp
. Slicing of data using timestamp
. Resample your time series for different time period aggregates/summary statistics
. Working with missing data

In [2]:

import pandas as pd
from datetime import datetime
import numpy as np
 
range_date = pd.date_range(start ='1/1/2019', end ='1/08/2019',
                                                   freq ='Min')
print(range_date)

DatetimeIndex(['2019-01-01 00:00:00', '2019-01-01 00:01:00',
               '2019-01-01 00:02:00', '2019-01-01 00:03:00',
               '2019-01-01 00:04:00', '2019-01-01 00:05:00',
               '2019-01-01 00:06:00', '2019-01-01 00:07:00',
               '2019-01-01 00:08:00', '2019-01-01 00:09:00',
               ...
               '2019-01-07 23:51:00', '2019-01-07 23:52:00',
               '2019-01-07 23:53:00', '2019-01-07 23:54:00',
               '2019-01-07 23:55:00', '2019-01-07 23:56:00',
               '2019-01-07 23:57:00', '2019-01-07 23:58:00',
               '2019-01-07 23:59:00', '2019-01-08 00:00:00'],
              dtype='datetime64[ns]', length=10081, freq='T')

### We are checking the type of our object named range_date.

In [3]:
import pandas as pd
from datetime import datetime
import numpy as np
 
range_date = pd.date_range(start ='1/1/2019', end ='1/08/2019',
                                                   freq ='Min')
print(type(range_date[110]))

<class 'pandas._libs.tslibs.timestamps.Timestamp'>

### Converted data into a data frame format nad adding one more new column to the data

In [4]:
import pandas as pd
from datetime import datetime
import numpy as np
 
range_date = pd.date_range(start ='1/1/2019', end ='1/08/2019',
                                                   freq ='Min')
 
df = pd.DataFrame(range_date, columns =['date'])
df['data'] = np.random.randint(0, 100, size =(len(range_date)))
 
print(df.head(10))

                 date  data
0 2019-01-01 00:00:00    33
1 2019-01-01 00:01:00    99
2 2019-01-01 00:02:00    36
3 2019-01-01 00:03:00    17
4 2019-01-01 00:04:00    92
5 2019-01-01 00:05:00    31
6 2019-01-01 00:06:00    10
7 2019-01-01 00:07:00     5
8 2019-01-01 00:08:00    50
9 2019-01-01 00:09:00    42

### This code just use the elements of data_rng and converted to string and due to lot of data we slice the data and print first ten values list string_data. By using the for each loop in list, we got all the values that are in the series range_date. When we are using date_range we always have to specify the start and end date.

In [5]:
import pandas as pd
from datetime import datetime
import numpy as np
 
range_date = pd.date_range(start ='1/1/2019', end ='1/08/2019',
                                                  freq ='Min')
 
df = pd.DataFrame(range_date, columns =['date'])
df['data'] = np.random.randint(0, 100, size =(len(range_date)))
 
string_data = [str(x) for x in range_date]
print(string_data[1:11])

['2019-01-01 00:01:00', '2019-01-01 00:02:00', '2019-01-01 00:03:00', '2019-01-01 00:04:00', '2019-01-01 00:05:00', '2019-01-01 00:06:00', '2019-01-01 00:07:00', '2019-01-01 00:08:00', '2019-01-01 00:09:00', '2019-01-01 00:10:00']

In [7]:

from ipykernel import kernelapp as app
import pandas as pd
from datetime import datetime
import numpy as np
 
range_data = pd.date_range(start ='1/1/2019', end ='1/08/2019',
                                                  freq ='Min')
 
df = pd.DataFrame(range_data, columns =['date'])
df['data'] = np.random.randint(0, 100, size =(len(range_data)))
 
df['datetime'] = pd.to_datetime(df['date'])
df = df.set_index('datetime')
df.drop(['date'], axis = 1, inplace = True)
 
print(df['2019-01-05'][1:11])

                     data
datetime
2019-01-05 00:01:00    61
2019-01-05 00:02:00    73
2019-01-05 00:03:00    72
2019-01-05 00:04:00    51
2019-01-05 00:05:00    53
2019-01-05 00:06:00    65
2019-01-05 00:07:00    92
2019-01-05 00:08:00    21
2019-01-05 00:09:00    48
2019-01-05 00:10:00    68

c:\Users\susha\miniconda3\envs\adhoc\lib\site-packages\ipykernel_launcher.py:16: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.

Python function created to find the number of data between two dates

In [1]:

# Python3 program two find number of
# days between two given dates
 
# A date has day 'd', month 'm' and year 'y'
 
class Date:
    def __init__(self, d, m, y):
        self.d = d
        self.m = m
        self.y = y
 
 
# To store number of days in all months from
# January to Dec.
monthDays = [31, 28, 31, 30, 31, 30,
             31, 31, 30, 31, 30, 31]
 
# This function counts number of leap years
# before the given date
 
def countLeapYears(d):
 
    years = d.y
 
    # Check if the current year needs to be considered
    # for the count of leap years or not
    if (d.m <= 2):
        years -= 1
 
    # An year is a leap year if it is a multiple of 4,
    # multiple of 400 and not a multiple of 100.
    return int(years / 4) - int(years / 100) + int(years / 400)
 
 
# This function returns number of days between two
# given dates
def getDifference(dt1, dt2):
 
    # COUNT TOTAL NUMBER OF DAYS BEFORE FIRST DATE 'dt1'
 
    # initialize count using years and day
    n1 = dt1.y * 365 + dt1.d
 
    # Add days for months in given date
    for i in range(0, dt1.m - 1):
        n1 += monthDays[i]
 
    # Since every leap year is of 366 days,
    # Add a day for every leap year
    n1 += countLeapYears(dt1)
 
    # SIMILARLY, COUNT TOTAL NUMBER OF DAYS BEFORE 'dt2'
 
    n2 = dt2.y * 365 + dt2.d
    for i in range(0, dt2.m - 1):
        n2 += monthDays[i]
    n2 += countLeapYears(dt2)
 
    # return difference between two counts
    return (n2 - n1)
 
 
# Driver program
dt1 = Date(13, 12, 2018)
dt2 = Date(25, 2, 2019)
 
print(getDifference(dt1, dt2), "days")

74 days

In [8]:
# Python3 program to find number of days
# between two given dates
from datetime import date
 
def numOfDays(date1, date2):
    return (date2-date1).days
     
# Driver program
date1 = date(2018, 12, 13)
date2 = date(2019, 2, 25)
print(numOfDays(date1, date2), "days")

74 days

To find the difference between two dates in Python, one can use the timedelta class which is present in the datetime library. The timedelta class stores the difference between two datetime objects. 
To find the difference between two dates in form of minutes, the attribute seconds of timedelta object can be used which can be further divided by 60 to convert to minutes.

In [9]:
import datetime

# datetime(year, month, day, hour, minute, second)
a = datetime.datetime(2017, 6, 21, 18, 25, 30)
b = datetime.datetime(2017, 5, 16, 8, 21, 10)

# returns a timedelta object
c = a-b
print('Difference: ', c)

minutes = c.total_seconds() / 60
print('Total difference in minutes: ', minutes)

# returns the difference of the time of the day
minutes = c.seconds / 60
print('Difference in minutes: ', minutes)

Difference:  36 days, 10:04:20
Total difference in minutes:  52444.333333333336
Difference in minutes:  604.3333333333334

#### To get a more appropriate answer divmod() can be used which will return the fractional part of the minutes in terms of seconds

In [2]:
import datetime

# datetime(year, month, day, hour, minute, second)
a = datetime.datetime(2017, 6, 21, 18, 25, 30)
b = datetime.datetime(2017, 5, 16, 8, 21, 10)

# returns a timedelta object
c = a-b
print('Difference: ', c)

# returns (minutes, seconds)
minutes = divmod(c.total_seconds(), 60)
print('Total difference in minutes: ', minutes[0], 'minutes',minutes[1], 'seconds')

# returns the difference of the time of the day (minutes, seconds)
minutes = divmod(c.seconds, 60)
print('Total difference in minutes: ', minutes[0], 'minutes',minutes[1], 'seconds')

Difference:  36 days, 10:04:20
Total difference in minutes:  52444.0 minutes 20.0 seconds
Total difference in minutes:  604 minutes 20 seconds

#### Python timedelta() function is present under datetime library which is generally used for calculating differences in dates and also can be used for date manipulations in Python. It is one of the easiest ways to perform date manipulations.

In [5]:
# Timedelta function demonstration

from datetime import datetime, timedelta


# Using current time
ini_time_for_now = datetime.now()

# printing initial_date
print ("initial_date", str(ini_time_for_now))

# Calculating future dates
# for two years
future_date_after_2yrs = ini_time_for_now + timedelta(days = 730)

future_date_after_2days = ini_time_for_now + timedelta(days = 2)

# printing calculated future_dates
print('future_date_after_2yrs:', str(future_date_after_2yrs))
print('future_date_after_2days:', str(future_date_after_2days))

initial_date 2022-07-04 12:33:38.238458
future_date_after_2yrs: 2024-07-03 12:33:38.238458
future_date_after_2days: 2022-07-06 12:33:38.238458

In [6]:
# Timedelta function demonstration
from datetime import datetime, timedelta


# Using current time
ini_time_for_now = datetime.now()

# printing initial_date
print ('initial_date:', str(ini_time_for_now))

# Calculating past dates
# for two years
past_date_before_2yrs = ini_time_for_now - timedelta(days = 730)

# for two hours
past_date_before_2hours = ini_time_for_now - timedelta(hours = 2)


# printing calculated past_dates
print('past_date_before_2yrs:', str(past_date_before_2yrs))
print('past_date_before_2hours:', str(past_date_before_2hours))

initial_date: 2022-07-04 12:33:55.010902
past_date_before_2yrs: 2020-07-04 12:33:55.010902
past_date_before_2hours: 2022-07-04 10:33:55.010902

In [7]:
# Timedelta function demonstration
from datetime import datetime, timedelta

# Using current time
ini_time_for_now = datetime.now()

# printing initial_date
print ("initial_date", str(ini_time_for_now))

# Some another datetime
new_final_time = ini_time_for_now + timedelta(days = 2)

# printing new final_date
print ("new_final_time", str(new_final_time))


# printing calculated past_dates
print('Time difference:', str(new_final_time - ini_time_for_now))

initial_date 2022-07-04 12:34:04.659189
new_final_time 2022-07-06 12:34:04.659189
Time difference: 2 days, 0:00:00

In [9]:
# importing datetime module
from datetime import *

# Enter birth dates and store
# into date class objects
d1, m1, y1 = [int(x) for x in input("Enter first"" person's date(DD/MM/YYYY) : ").split('/')]

b1 = date(y1, m1, d1)

# Input for second date
d2, m2, y2 = [int(x) for x in input("Enter second"" person's date(DD/MM/YYYY) : ").split('/')]

b2 = date(y2, m2, d2)

# Check the dates
if b1 == b2:print("Both persons are of equal age")
elif b1 > b2:print("The second person is older")
else:print("The first person is older")

Enter first person's date(DD/MM/YYYY) : 23/08/1654
Enter second person's date(DD/MM/YYYY) : 25/12/1987
The first person is older

strptime() is available in DateTime and time modules and is used for Date-Time Conversion. This function changes the given string of datetime into the desired format.

In [10]:
import datetime

# Function to convert string to datetime
def convert(date_time):
    format = '%b %d %Y %I:%M%p' # The format
    datetime_str = datetime.datetime.strptime(date_time, format)

    return datetime_str


# Driver code
date_time = 'Dec 4 2018 10:07AM'
print(convert(date_time))

2018-12-04 10:07:00

datetime_object.strftime(format_str)
Another similar function is available in time module which converts a tuple or struct_time object to a string as specified by the format argument.

In [11]:
import time

# Function to convert string to datetime
def convert(datetime_str):
    datetime_str = time.mktime(datetime_str)

    format = "%b %d %Y %r" # The format
    dateTime = time.strftime(format, time.gmtime(datetime_str))
    return dateTime

# Driver code
date_time = (2018, 12, 4, 10, 7, 00, 1, 48, 0)
print(convert(date_time))

Dec 04 2018 04:37:00 AM

In [13]:
import pandas as pd
 
# Creating the dataframe
df = pd.DataFrame({'Date':['11/8/2011', '04/23/2008', '10/2/2019'],
                'Event':['Music', 'Poetry', 'Theatre'],
                'Cost':[10000, 5000, 15000]})


# convert the 'Date' column to datetime format
df['Date'] = df['Date'].astype('datetime64[ns]')
print(df)

        Date    Event   Cost
0 2011-11-08    Music  10000
1 2008-04-23   Poetry   5000
2 2019-10-02  Theatre  15000

If the data frame column is in ‘yymmdd’ format and we have to convert it to ‘yyyymmdd’ format

In [17]:
import pandas as pd
 
# Initializing the nested list with Data set
player_list = [['200712',50000],['200714',51000],['200716',51500],
            ['200719',53000],['200721',54000],
            ['200724',55000],['200729',57000]]
 
# creating a pandas dataframe
df = pd.DataFrame(player_list,columns=['Dates','Patients'])
 
# printing dataframe
print(df)
print()
 
# checking the type
print(df.dtypes)

    Dates  Patients
0  200712     50000
1  200714     51000
2  200716     51500
3  200719     53000
4  200721     54000
5  200724     55000
6  200729     57000

Dates       object
Patients     int64
dtype: object

In [18]:

# converting the string to datetime format
df['Dates'] = pd.to_datetime(df['Dates'], format='%y%m%d')
 
# printing dataframe
print(df)

 
print(df.dtypes)

       Dates  Patients
0 2020-07-12     50000
1 2020-07-14     51000
2 2020-07-16     51500
3 2020-07-19     53000
4 2020-07-21     54000
5 2020-07-24     55000
6 2020-07-29     57000
Dates       datetime64[ns]
Patients             int64
dtype: object

Converting multiple columns from string to ‘yyyymmdd‘ format using pandas.to_datetime()

In [21]:
# importing pandas library
import pandas as pd

# Initializing the nested list with Data set
player_list = [['20200712',50000,'20200812'],
			['20200714',51000,'20200814'],
			['20200716',51500,'20200816'],
			['20200719',53000,'20200819'],
			['20200721',54000,'20200821'],
			['20200724',55000,'20200824'],
			['20200729',57000,'20200824']]

# creating a pandas dataframe
df = pd.DataFrame(
player_list,columns = ['Treatment_start',
						'No.of Patients',
						'Treatment_end'])

# printing dataframe
print(df)
print()

# checking the type
print(df.dtypes)

  Treatment_start  No.of Patients Treatment_end
0        20200712           50000      20200812
1        20200714           51000      20200814
2        20200716           51500      20200816
3        20200719           53000      20200819
4        20200721           54000      20200821
5        20200724           55000      20200824
6        20200729           57000      20200824

Treatment_start    object
No.of Patients      int64
Treatment_end      object
dtype: object

In [22]:
# converting the string to datetime
# format in multiple columns
df['Treatment_start'] = pd.to_datetime(
                          df['Treatment_start'],
                          format='%Y%m%d'
)
df['Treatment_end'] = pd.to_datetime(
                          df['Treatment_end'],
                          format='%Y%m%d'
)
 

##printing dataframe
print(df)

 
print(df.dtypes)

  Treatment_start  No.of Patients Treatment_end
0      2020-07-12           50000    2020-08-12
1      2020-07-14           51000    2020-08-14
2      2020-07-16           51500    2020-08-16
3      2020-07-19           53000    2020-08-19
4      2020-07-21           54000    2020-08-21
5      2020-07-24           55000    2020-08-24
6      2020-07-29           57000    2020-08-24
Treatment_start    datetime64[ns]
No.of Patients              int64
Treatment_end      datetime64[ns]
dtype: object

In [23]:
# importing pandas as pd
import pandas as pd

# Creating the DataFrame
df = pd.DataFrame({'Date':['10/2/2011', '11/2/2011', '12/2/2011', '13/2/2011'],
                    'Event':['Music', 'Poetry', 'Theatre', 'Comedy'],
                    'Cost':[10000, 5000, 15000, 2000]})

# Print the dataframe
print(df)

        Date    Event   Cost
0  10/2/2011    Music  10000
1  11/2/2011   Poetry   5000
2  12/2/2011  Theatre  15000
3  13/2/2011   Comedy   2000

Now we will create a new column called ‘Discounted_Price’ after applying a 10% discount on the existing ‘Cost’ column.

In [24]:
# using apply function to create a new column
df['Discounted_Price'] = df.apply(lambda row: row.Cost -
                                (row.Cost * 0.1), axis = 1)

# Print the DataFrame after addition
# of new column
print(df)

        Date    Event   Cost  Discounted_Price
0  10/2/2011    Music  10000            9000.0
1  11/2/2011   Poetry   5000            4500.0
2  12/2/2011  Theatre  15000           13500.0
3  13/2/2011   Comedy   2000            1800.0

We can achieve the same result by directly performing the required operation on the desired column element-wise.

In [25]:

# importing pandas as pd
import pandas as pd
  
# Creating the DataFrame
df = pd.DataFrame({'Date':['10/2/2011', '11/2/2011', '12/2/2011', '13/2/2011'],
                    'Event':['Music', 'Poetry', 'Theatre', 'Comedy'],
                    'Cost':[10000, 5000, 15000, 2000]})
  
# Create a new column 'Discounted_Price' after applying
# 10% discount on the existing 'Cost' column.
  
# create a new column
df['Discounted_Price'] = df['Cost'] - (0.1 * df['Cost'])
  
# Print the DataFrame after 
# addition of new column
print(df)

        Date    Event   Cost  Discounted_Price
0  10/2/2011    Music  10000            9000.0
1  11/2/2011   Poetry   5000            4500.0
2  12/2/2011  Theatre  15000           13500.0
3  13/2/2011   Comedy   2000            1800.0

Now we will add a new column called ‘Price’ to the dataframe. For that purpose, we will use list comprehension technique. Set the price to 1500 if the ‘Event’ is ‘Music’ else 800.

In [27]:

# importing pandas as pd
import pandas as pd
  
# Creating the dataframe
df = pd.DataFrame({'Date' : ['11/8/2011', '11/9/2011', '11/10/2011',
                                        '11/11/2011', '11/12/2011'],
                'Event' : ['Music', 'Poetry', 'Music', 'Music', 'Poetry']})
                
# Add a new column named 'Price'
df['Price'] = [1500 if x =='Music' else 800 for x in df['Event']]
  
# Print the dataframe
print(df)

         Date   Event  Price
0   11/8/2011   Music   1500
1   11/9/2011  Poetry    800
2  11/10/2011   Music   1500
3  11/11/2011   Music   1500
4  11/12/2011  Poetry    800

In [28]:
# Define a function to map the values
def set_value(row_number, assigned_value):
    return assigned_value[row_number]

# Create the dictionary
event_dictionary ={'Music' : 1500, 'Poetry' : 800, 'Comedy' : 1200}

# Add a new column named 'Price'
df['Price'] = df['Event'].apply(set_value, args =(event_dictionary, ))

# Print the DataFrame
print(df)

         Date   Event  Price
0   11/8/2011   Music   1500
1   11/9/2011  Poetry    800
2  11/10/2011   Music   1500
3  11/11/2011   Music   1500
4  11/12/2011  Poetry    800

Now we will add a new column called ‘Price’ to the dataframe. For that purpose we will use DataFrame.map() function to achieve the goal. Set the price to 1500 if the ‘Event’ is ‘Music’, 1200 if the ‘Event’ is ‘Comedy’ and 800 if the ‘Event’ is ‘Poetry’.

In [29]:
# Create the dictionary
event_dictionary ={'Music' : 1500, 'Poetry' : 800, 'Comedy' : 1200}

# Add a new column named 'Price'
df['Price'] = df['Event'].map(event_dictionary)

# Print the DataFrame
print(df)

         Date   Event  Price
0   11/8/2011   Music   1500
1   11/9/2011  Poetry    800
2  11/10/2011   Music   1500
3  11/11/2011   Music   1500
4  11/12/2011  Poetry    800

 Selecting all the rows from the given dataframe in which ‘Percentage’ is greater than 80 using basic method.

In [30]:
# importing pandas
import pandas as pd

record = {

'Name': ['Ankit', 'Amit', 'Aishwarya', 'Priyanka', 'Priya', 'Shaurya' ],
'Age': [21, 19, 20, 18, 17, 21],
'Stream': ['Math', 'Commerce', 'Science', 'Math', 'Math', 'Science'],
'Percentage': [88, 92, 95, 70, 65, 78] }

# create a dataframe
dataframe = pd.DataFrame(record, columns = ['Name', 'Age', 'Stream', 'Percentage'])

print("Given Dataframe :\n", dataframe)

# selecting rows based on condition
rslt_df = dataframe[dataframe['Percentage'] > 80]

print('\nResult dataframe :\n', rslt_df)

Given Dataframe :
         Name  Age    Stream  Percentage
0      Ankit   21      Math          88
1       Amit   19  Commerce          92
2  Aishwarya   20   Science          95
3   Priyanka   18      Math          70
4      Priya   17      Math          65
5    Shaurya   21   Science          78

Result dataframe :
         Name  Age    Stream  Percentage
0      Ankit   21      Math          88
1       Amit   19  Commerce          92
2  Aishwarya   20   Science          95

Syntax:
DataFrame.where(cond, other=nan, inplace=False, axis=None, level=None, errors=’raise’, try_cast=False, raise_on_error=None)
 

Parameters:

cond: One or more condition to check data frame for.
other: Replace rows which don’t satisfy the condition with user defined object, Default is NaN
inplace: Boolean value, Makes changes in data frame itself if True
axis: axis to check( row or columns)

In [36]:
# importing pandas package
import pandas as pd

# making data frame from csv file
data = pd.read_csv("nba.csv")

# sorting dataframe
data.sort_values("Team", inplace = True)

# making boolean series for a team name
filter = data["Team"]=="Atlanta Hawks"

# filtering data
data.where(filter)

# display
data

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
317,Lamar Patterson,Atlanta Hawks,13.0,SG,24.0,6-5,225.0,Pittsburgh,525093.0
309,Kent Bazemore,Atlanta Hawks,24.0,SF,26.0,6-5,201.0,Old Dominion,2000000.0
310,Tim Hardaway Jr.,Atlanta Hawks,10.0,SG,24.0,6-6,205.0,Michigan,1304520.0
311,Kirk Hinrich,Atlanta Hawks,12.0,SG,35.0,6-4,190.0,Kansas,2854940.0
312,Al Horford,Atlanta Hawks,15.0,C,30.0,6-10,245.0,Florida,12000000.0
...,...,...,...,...,...,...,...,...,...
369,Bradley Beal,Washington Wizards,3.0,SG,22.0,6-5,207.0,Florida,5694674.0
368,Alan Anderson,Washington Wizards,6.0,SG,33.0,6-6,220.0,Michigan State,4000000.0
382,John Wall,Washington Wizards,2.0,PG,25.0,6-4,195.0,Kentucky,15851950.0
370,Jared Dudley,Washington Wizards,1.0,SF,30.0,6-7,225.0,Boston College,4375000.0
457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [37]:
# importing pandas package
import pandas as pd

# making data frame from csv file
data = pd.read_csv("nba.csv")

# sorting dataframe
data.sort_values("Team", inplace = True)

# making boolean series for a team name
filter1 = data["Team"]=="Atlanta Hawks"

# making boolean series for age
filter2 = data["Age"]>24

# filtering data on basis of both filters
data.where(filter1 & filter2)

# display
data

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
317,Lamar Patterson,Atlanta Hawks,13.0,SG,24.0,6-5,225.0,Pittsburgh,525093.0
309,Kent Bazemore,Atlanta Hawks,24.0,SF,26.0,6-5,201.0,Old Dominion,2000000.0
310,Tim Hardaway Jr.,Atlanta Hawks,10.0,SG,24.0,6-6,205.0,Michigan,1304520.0
311,Kirk Hinrich,Atlanta Hawks,12.0,SG,35.0,6-4,190.0,Kansas,2854940.0
312,Al Horford,Atlanta Hawks,15.0,C,30.0,6-10,245.0,Florida,12000000.0
...,...,...,...,...,...,...,...,...,...
369,Bradley Beal,Washington Wizards,3.0,SG,22.0,6-5,207.0,Florida,5694674.0
368,Alan Anderson,Washington Wizards,6.0,SG,33.0,6-6,220.0,Michigan State,4000000.0
382,John Wall,Washington Wizards,2.0,PG,25.0,6-4,195.0,Kentucky,15851950.0
370,Jared Dudley,Washington Wizards,1.0,SF,30.0,6-7,225.0,Boston College,4375000.0
457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Syntax: Series.str.find(sub, start=0, end=None)
Parameters: 
sub: String or character to be searched in the text value in series 
start: int value, start point of searching. Default is 0 which means from the beginning of string 
end: int value, end point where the search needs to be stopped. Default is None.
Return type: Series with index position of substring occurrence

In [38]:
# importing pandas module
import pandas as pd

# reading csv file from url
data = pd.read_csv("https://media.geeksforgeeks.org/wp-content/uploads/nba.csv")

# dropping null value columns to avoid errors
data.dropna(inplace = True)


# substring to be searched
sub ='er'

# start var
start = 2

# creating and passing series to new column
data["Indexes"]= data["Name"].str.find(sub, start)

# display
data

,Name,Team,Number,Position,Age,Height,Weight,College,Salary,Indexes
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0,2
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0,9
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0,9
6,Jordan Mickey,Boston Celtics,55.0,PF,21.0,6-8,235.0,LSU,1170960.0,-1
7,Kelly Olynyk,Boston Celtics,41.0,C,25.0,7-0,238.0,Gonzaga,2165160.0,-1
...,...,...,...,...,...,...,...,...,...,...
449,Rodney Hood,Utah Jazz,5.0,SG,23.0,6-8,206.0,Duke,1348440.0,-1
451,Chris Johnson,Utah Jazz,23.0,SF,26.0,6-6,206.0,Dayton,981348.0,-1
452,Trey Lyles,Utah Jazz,41.0,PF,20.0,6-10,234.0,Kentucky,2239800.0,-1
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0,-1
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0,-1

Getting the rows satisfying condition

In [40]:
# importing pandas as pd
import pandas as pd

# Creating the dataframe with dict of lists
df = pd.DataFrame({'Name': ['Geeks', 'Peter', 'James', 'Jack', 'Lisa'],
                'Team': ['Boston', 'Boston', 'Boston', 'Chele', 'Barse'],
                'Position': ['PG', 'PG', 'UG', 'PG', 'UG'],
                'Number': [3, 4, 7, 11, 5],
                'Age': [33, 25, 34, 35, 28],
                'Height': ['6-2', '6-4', '5-9', '6-1', '5-8'],
                'Weight': [89, 79, 113, 78, 84],
                'College': ['MIT', 'MIT', 'MIT', 'Stanford', 'Stanford'],
                'Salary': [99999, 99994, 89999, 78889, 87779]},
index =['ind1', 'ind2', 'ind3', 'ind4', 'ind5'])

df1 = df[df['Position'].str.contains("PG")]
print(df1)

       Name    Team Position  Number  Age Height  Weight   College  Salary
ind1  Geeks  Boston       PG       3   33    6-2      89       MIT   99999
ind2  Peter  Boston       PG       4   25    6-4      79       MIT   99994
ind4   Jack   Chele       PG      11   35    6-1      78  Stanford   78889

In [41]:
# importing pandas
import pandas as pd

# Creating the dataframe with dict of lists
df = pd.DataFrame({'Name': ['Geeks', 'Peter', 'James', 'Jack', 'Lisa'],
				'Team': ['Boston', 'Boston', 'Boston', 'Chele', 'Barse'],
				'Position': ['PG', 'PG', 'UG', 'PG', 'UG'],
				'Number': [3, 4, 7, 11, 5],
				'Age': [33, 25, 34, 35, 28],
				'Height': ['6-2', '6-4', '5-9', '6-1', '5-8'],
				'Weight': [89, 79, 113, 78, 84],
				'College': ['MIT', 'MIT', 'MIT', 'Stanford', 'Stanford'],
				'Salary': [99999, 99994, 89999, 78889, 87779]},
				index =['ind1', 'ind2', 'ind3', 'ind4', 'ind5'])


df1 = df[df['Team'].str.contains("Boston") | df['College'].str.contains('MIT')]
print(df1)

       Name    Team Position  Number  Age Height  Weight College  Salary
ind1  Geeks  Boston       PG       3   33    6-2      89     MIT   99999
ind2  Peter  Boston       PG       4   25    6-4      79     MIT   99994
ind3  James  Boston       UG       7   34    5-9     113     MIT   89999

In [42]:
# importing pandas module
import pandas as pd
	
# making data frame
df = pd.read_csv("https://media.geeksforgeeks.org/wp-content/uploads/nba.csv")


df1 = df[df['Team'].str.contains('Boston') & df['Position'].str.contains('PG')]
df1

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
8,Terry Rozier,Boston Celtics,12.0,PG,22.0,6-2,190.0,Louisville,1824360.0
9,Marcus Smart,Boston Celtics,36.0,PG,22.0,6-4,220.0,Oklahoma State,3431040.0
11,Isaiah Thomas,Boston Celtics,4.0,PG,27.0,5-9,185.0,Washington,6912869.0

 Use Series.str.contains a () function to find if a pattern is present in the strings of the underlying data in the given series object.

In [44]:
# importing pandas as pd
import pandas as pd

# importing re for regular expressions
import re

# Creating the Series
sr = pd.Series(['New_York', 'Lisbon', 'Tokyo', 'Paris', 'Munich'])

# Creating the index
idx = ['City 1', 'City 2', 'City 3', 'City 4', 'City 5']

# set the index
sr.index = idx

# Print the series
print(sr)

City 1    New_York
City 2      Lisbon
City 3       Tokyo
City 4       Paris
City 5      Munich
dtype: object

In [45]:
# find if 'is' substring is present
result = sr.str.contains(pat = 'is')

# print the result
print(result)

City 1    False
City 2     True
City 3    False
City 4     True
City 5    False
dtype: bool

The find() method is similar to index(). The only difference is find() returns -1 if the searched string is not found and index() throws an exception in this case.

In [47]:
word = 'geeks for geeks'

# returns first occurrence of Substring
result = word.find('geeks')
print("Substring 'geeks' found at index:", result)

result = word.find('for')
print("Substring 'for ' found at index:", result)

# How to use find()
if (word.find('pawan') != -1):
    print("Contains given substring ")
else:
    print("Doesn't contains given substring")

Substring 'geeks' found at index: 0
Substring 'for ' found at index: 6
Doesn't contains given substring


In the first statement, the output is 10 as the start value is given which is 2, so the substring is checked from the second index which is ‘eks for geeks’.
In the second statement, the start value is given as 2 and the substring is given ‘geeks’, so the index position of ‘geeks’ is 10 but due to the last value is being excluded it will only find ‘geek’ which doesn’t matches with the original string, that is why the output is -1.
In the third statement, start value=4, end value=10, and substring = ‘g’ is given, the index position from 4 will be checked for the given substring which is at position 10, which is being excluded as it is the end index.
In the fourth statement, start value =4, end value=11, and substring=’for’ is given, the index position from 4 till 11 will be checked for the given substring and the specified substring is present at index 6, so the output is obtained.

In [48]:
# Python program to read
# json file


import json

# Opening JSON file
f = open('data.json')

# returns JSON object as
# a dictionary
data = json.load(f)

# Iterating through the json
# list
for i in data['emp_details']:
	print(i)

# Closing file
f.close()

{'emp_id': '1', 'emp_name': 'Rajesh', 'emp_email': 's@gmail.com'}
{'emp_id': '2', 'emp_name': 'Karan', 'emp_email': 'a@gmail.com'}
{'emp_id': '3', 'emp_name': 'Arushi', 'emp_email': 'nver@gmail.com'}

In [49]:
# Python program to read
# json file


import json


# JSON string
a = '{"name": "Bob", "languages": "English"}'

# deserializes into dict
# and returns dict.
y = json.loads(a)

print("JSON string = ", y)
print()



# JSON file
f = open ('data.json', "r")

# Reading from file
data = json.loads(f.read())

# Iterating through the json
# list
for i in data['emp_details']:
	print(i)

# Closing file
f.close()

JSON string =  {'name': 'Bob', 'languages': 'English'}

{'emp_id': '1', 'emp_name': 'Rajesh', 'emp_email': 's@gmail.com'}
{'emp_id': '2', 'emp_name': 'Karan', 'emp_email': 'a@gmail.com'}
{'emp_id': '3', 'emp_name': 'Arushi', 'emp_email': 'nver@gmail.com'}

### Reading and writing json

In [51]:
# Python program to write JSON
# to a file


import json

# Data to be written
dictionary ={
	"name" : "sathiyajith",
	"rollno" : 56,
	"cgpa" : 8.6,
	"phonenumber" : "9976770500"
}

# Serializing json
json_object = json.dumps(dictionary, indent = 4)

# Writing to sample.json
with open("sample.json", "w") as outfile:
	outfile.write(json_object)